/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styling */
header {
    background-color: #2a9d8f;
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 24px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
}

header h2 {
    margin: 0;
    color: white;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header ul li {
    margin-left: 20px;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header a:hover {
    text-decoration: underline;
}

/* New Weather Record Form */
.new-weather-record-form {
    background-color: white;
    padding: 20px 50px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-weather-record-form h2 {
    text-align: center;
    color: #333;
}

.new-weather-record-form label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.new-weather-record-form select, .new-weather-record-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.new-weather-record-form select{
    width: 100%;
}

.new-weather-record-form input {
    width: 97%;
}

/* Button styling */
button {
    background-color: #264653;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px 5px;
}

button:hover {
    background-color: #2a9d8f;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

/* Table Styling for Past Records */
table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    color: #333;
}

td {
    background-color: white;
}

button.delete-btn {
    background-color: #dc3545;
}

button.delete-btn:hover {
    background-color: #c82333;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2a9d8f;
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}